body{
    background-color:#FECC66;
}

/* li{
	/* text-decoration: none; */
	/* display:inline; */
	/* background-color: grey; */
	/* color: green; */
  /* font: cursive; */
/* } */

/* nav a{ */
  /* color:pink; */
/* } */

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* nav li a:active { */
.currenrtpage{
  background-color: #4CAF50;
  color:white;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover:not(.active) {
  background-color: #111;
  color:white;
}

/* skip to main content */

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
